<% [:notice, :error, :alert, :success].each do |level| %>
  <% unless flash[level].blank? %>
    <div class="alert <%= flash_class level %> fade in hide-flash flash-message">
      <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
      <%= flash[level] %>
    </div>
  <% end %>
<% end %>
