<% provide :title, "Authentication" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= link_to "#", class: "btn btn-primary btn-lg" do %>
      Signin with TMS System
    <% end %>
  </div>
</div>
