<% provide :title, "Authentication" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= link_to "/auth/hr_system", class: "btn btn-primary btn-lg" do %>
      Signin with HR System
    <% end %>
  </div>
</div>
