default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  host: <%= ENV["DATABASE_HOSTNAME"] %>
  database: <%= ENV["PRTS_DATABASE_NAME"] %>
  username: <%= ENV["DATABASE_USERNAME"] %>
  password: <%= ENV["DATABASE_PASSWORD"] %>

development:
  <<: *default

test:
  <<: *default

staging:
  <<: *default

production:
  <<: *default
