@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

$white: #fff;
$ready: #fbbc05;
$commented: #30c352;
$conflicted: #6a737d;
$reviewing: #ea4335;
$merged: #6f42c1;
$alabaster-color: #f8f8f8;
$silver-color: #bbb;
$black: #000;

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.btn,
.form-control {
  border-radius: 2px;
}

.status-label {
  border-radius: 2px;
  color: $white;
  font-weight: 500;
  padding: 5px 10px;
}

.ready {
  @extend .status-label;
  background: $ready;
}

.commented {
  @extend .status-label;
  background: $commented;
}

.conflicted {
  @extend .status-label;
  background: $conflicted;
}

.reviewing {
  @extend .status-label;
  background: $reviewing;
}

.merged {
  @extend .status-label;
  background: $merged;
}

.role-select {
  position: relative;
  select {
    -webkit-appearance: none;
    appearance: none;
    background: $alabaster-color;
    border: 1px solid $silver-color;
    border-radius: 2px;
    display: inline-block;
    font: inherit;
    line-height: 1.2;
    margin: 0;
    outline: none;
    padding: 6px 12px;
  }

  &::before {
    background: transparent;
    border-radius: 0 2px 2px 0;
    bottom: 0;
    color: $black;
    content: '▼';
    font-size: 60%;
    line-height: 25px;
    padding: 0 7px;
    pointer-events: none;
    position: absolute;
    right: 7px;
    top: 5px;
  }
}

