@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

$alabaster-color: #f8f8f8;
$black: #000;
$blue: #00f;
$commented: #30c352;
$conflicted: #6a737d;
$dark: #333;
$dark-green: #023a0d;
$gray: #4b4a48;
$gray-green: #06a018;
$light-gray: #90918d;
$merged: #6f42c1;
$purple: #9d00ff;
$ready: #fbbc05;
$red: #f00;
$reviewing: #ea4335;
$silver-color: #bbb;
$white: #fff;

h2 {
  margin-top: 0;
}

h4 {
  margin: 0;
}

.panel-body {
  padding: 0;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.btn,
.form-control {
  border-radius: 2px;
}

.status-label {
  border-radius: 2px;
  color: $white;
  font-weight: 500;
  padding: 5px 10px;
}

.ready {
  @extend .status-label;
  background: $ready;
}

.commented {
  @extend .status-label;
  background: $commented;
}

.conflicted {
  @extend .status-label;
  background: $conflicted;
}

.reviewing {
  @extend .status-label;
  background: $reviewing;
}

.merged {
  @extend .status-label;
  background: $merged;
}

.closed {
  @extend .status-label;
  background: $black;
}

.admin-user {
  @extend .status-label;
  background: $red;
}

.trainer-user {
  @extend .status-label;
  background: $blue;
}

.supporter-user {
  @extend .status-label;
  background: $gray-green;
}

.normal-user {
  @extend .status-label;
  background: $merged;
}

.role-select {
  position: relative;
  select {
    -webkit-appearance: none;
    appearance: none;
    background: $alabaster-color;
    border: 1px solid $silver-color;
    border-radius: 2px;
    display: inline-block;
    font: inherit;
    line-height: 1.2;
    margin: 0;
    outline: none;
    padding: 6px 12px;
  }

  &::before {
    background: transparent;
    border-radius: 0 2px 2px 0;
    bottom: 0;
    color: $black;
    content: '▼';
    font-size: 60%;
    line-height: 25px;
    padding: 0 7px;
    pointer-events: none;
    position: absolute;
    right: 7px;
    top: 5px;
  }
}

.amount,
.trainer {
  color: $blue;
  font-weight: bold;
}

.admin {
  color: $red;
  font-weight: bold;
}

.supporter {
  color: $gray-green;
  font-weight: bold;
}

.index {
  width: 50px;
}

.datetime {
  width: 160px;
}

th-current-reviewer {
  min-width: 150px;
}

.status {
  width: 115px;
}

.role {
  width: 80px;
}

.stats{
  height: 40px;
  margin-top: 25px;

  .detail-stats span {
    font-weight: bold;
  }
}

.active-members {
  margin: 15px 0 15px 30px;

  p {
    margin-bottom: 25px;

    .username {
      font-weight: bold;
      margin-left: 5px;
    }

    .merged {
      margin-left: 20px;
    }
  }

}

textarea {
  resize: vertical;
}

.non-office-users {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 30px;
}

.non-office-user {
  margin-right: 40px;
}

.items-overview:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  margin-bottom: 30px;
}

.admin-pull-requests-stat {
  margin-top: 20px;
}

.btn-new-message {
  margin-top: 8px;
}

.error {
  margin: 10px 10px 0;
}

.admin-non-office-user {
  background: $purple;
  border-radius: 2px;
  color: $white;
  font-weight: 600;
  padding: 3px 10px;
}

.select-chatroom {
  width: 400px;
}

.decoration-syntax {
  background: $dark;
  color: $white;
  padding-top: 20px;

  h4 {
    color: #ffad28;
  }

  div {
    margin-bottom: 20px;

    .rule {
      letter-spacing: 1px;
      margin-bottom: 10px;
    }

    .output {
      background: $gray;
      color: $white;
      padding: 20px 10px;

      .horizontal-line {
        border-top: 1px solid $light-gray;
        display: block;
      }

      .info {
        border-radius: 3px;
        border: 1px solid $light-gray;
        display: block;
        padding: 3px 3px 3px 10px;
      }

      .info-title {
        border-radius: 3px;
        border: 1px solid $light-gray;
        display: block;

        .header {
          border-bottom: 1px solid $light-gray;
          display: block;
          padding: 3px 3px 3px 10px;

          .info-icon {
            border-radius: 50%;
            border: 2px solid $white;
            font-size: smaller;
            font-weight: 900;
            padding: 0px 5px;
          }
        }

        .content {
          display: block;
          padding: 3px 3px 3px 10px;
        }
      }

      .code {
        background: $light-gray;
        border-radius: 3px;
        display: block;
        font-weight: 600;
        padding: 7px 7px 7px 10px;
      }
    }
  }
}

.detail-stats {
  label {
    padding: 3px;
    border-radius: 3px;
  }

  label[for='ready'] {
    background: $ready;
  }

  label[for='reviewing'] {
    background: $reviewing;
  }

  label[for='commented'] {
    background: $commented;
  }

  label[for='conflicted'] {
    background: $conflicted;
  }

  label[for='closed'] {
    background: $black;
  }

  label[for='merged'] {
    background: $merged;
  }
}

.filter-by-multi-condition {
  .condition {
    float: left;
  }

  table {
    margin-right: 40px;

    tr {
      td:first-child {
        padding-right: 10px;
      }
    }
  }
}

.search-pull-request {
  table {
    tr {
      td:first-child {
        padding-right: 21px;
      }

      td:nth-child(2) {
        width: 350px;
      }
    }
  }
}

.statistics {
  label {
    margin-right: 8px;
  }
}

.select-all-statuses {
  margin-right: 20px;
}

.select-all-statuses,
.unselect-all-statuses {
  font-style: italic;
  color: $blue;
  text-decoration: underline;

  &:hover {
    color: $dark-green;
  }
}

.pull-request-status-label {
  input[type=checkbox] {
    height: 15px;
    width: 15px;
  }
}

.confirm-send-message-div {
  display: none;
}
